
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="lista-inventario"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar Productos del Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form>
  <ion-list>
   <ion-item *ngIf="producto">
     <ion-label position="stacked">Codigo <ion-text color="danger">*</ion-text></ion-label>
     <ion-input required type="text" name="code" value="{{productoId}}" disabled></ion-input>
   </ion-item>
   <ion-item *ngIf="producto">
    <ion-label position="stacked">Codigo Secundario <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required type="text" name="secondCode" [(ngModel)]="producto.secondCode"></ion-input>
  </ion-item>
   <ion-item *ngIf="producto">
    <ion-label position="stacked">Nombre <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required type="text" name="name" [(ngModel)]="producto.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Categoria <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required type="text" name="category" [(ngModel)]="producto.category"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Cantidad <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required type="number" name="quantity" [(ngModel)]="producto.quantity" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Precio</ion-label>
    <ion-input required type="number" name="price" [(ngModel)]="producto.price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descripcion </ion-label>
    <ion-input type="text" name="description" [(ngModel)]="producto.description"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="modifyProducto()" color="success">MODIFICAR</ion-button>
</ion-list>
</form>
</ion-content>
