
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="lista-inventario"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar Productos del Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form>
  <ion-list>
   <ion-item>
     <ion-label position="stacked">Codigo <ion-text color="danger">*</ion-text></ion-label>
     <ion-input type="text" name="code"></ion-input>
   </ion-item>
   <ion-item>
    <ion-label position="stacked">Nombre <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="text" name="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Categoria</ion-label>
    
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selecciona una">
      
      <ion-select-option  *ngFor="let category of categories">
        
        {{category.name}}

      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Cantidad <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="number" name="quantity" placeholder="0"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Precio</ion-label>
    <ion-input type="number" name="price" placeholder="0.00"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descripcion </ion-label>
    <ion-input type="text" name="description"></ion-input>
  </ion-item>
  <ion-button expand="block" color="success">MODIFICAR</ion-button>
</ion-list>
</form>
</ion-content>
